.diag-container {
    .upload-container {
        position: relative;
        margin-top: 6rem;
        width: 22rem;
        text-align: center;
        border: 0.2rem dashed $CodGray;
        border-radius: 3rem;
    
        .img-area {
            position: relative;
            padding: 2rem;
            margin-top: 1rem;
            margin-bottom: 2rem;
            background-color: Co;
            border-radius: 2rem;
            overflow: hidden;
            
            object-fit: cover;
            object-position: center;
            z-index: 100;
            background-color: $PineGlade;
    
            .upload-icon {
                width: 7rem;
        
            }
            h3 {
                font-size: $font-lg;
            }

            p{
                display: relative;
                font-size: $font-med;
                white-space: nowrap;
            }
    
        }
        .select-img {
            margin-bottom: 1.5rem;
            padding: 1rem;
            border-radius: 2rem;
            background-color: $CodGray;
            color: $PineGlade;
        }
    
    }
}



