.snap1 {
   .info-item{
    position: relative;
    scroll-snap-align: start;
    text-align: center;
    min-width: -moz-fit-content;
    min-width: fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    margin-left: 2rem;
    color: $CodGray;
    border-radius: 1rem;
    border: 2px solid $CodGray;
    padding: 1rem;
    margin-top: 1rem;
    h3 {
        position: relative;
        font-size: 2rem;
        font-weight: 500;
        font-family: "Gabarito", sans-serif;
        white-space: nowrap;
        text-align: left;
    }
    p {
        font-size: 1.5rem;
        font-weight: 300;
        text-align: left;
        margin: 1rem;
        font-family: "Gabarito", sans-serif;
    }

   }

.cta-container {
    //background-color: aquamarine;
    position: relative;
    top: 2rem;
    width: -moz-fit-content;
    width: fit-content;
    @include breakpoint-up(large){
        flex-direction: row;
    }

    .snap1-cta1{
        position: relative;
        padding: 1rem;
        left: 45rem;

    }

    .snap1-cta2{
        position: relative;
        padding: 1rem;
        right: -50rem;

    }

    button {
        font-size: 1rem;
        letter-spacing: 2px;
        text-decoration: none;
        text-transform: uppercase;
        color: $CodGray;
        cursor: pointer;
        border: 3px solid;
        padding: 0.25em 0.5em;
        box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
        position: relative;
        -webkit-user-select: none;
        user-select: none;
        touch-action: manipulation;
      }
      
      .snap1-cta2:active{
        box-shadow: 0px 0px 0px 0px;
        top: 0.313rem;
        right: -50rem;
      }

      .snap1-cta1:active {
        box-shadow: 0px 0px 0px 0px;
        top: 0.313rem;
        left: 45rem;

      }
      
      @media (min-width: 768px) {
        button {
          padding: 0.25em 0.75em;
        }
      }
        
}




}