.has-fade {
  visibility: hidden;
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 90%;
  }
}
.fade-in {
  animation: fade-in 200ms ease-in-out forwards;
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 90%;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
.fade-out {
  animation: fade-out 200ms ease-in-out forwards;
}

@font-face {
  font-family: Buffy;
  src: url(/fonts/buffy-light.otf);
  font-family: Nohemi;
  src: url(/fonts/Nohemi-Black.ttf);
}
html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "M PLUS Rounded 1c", sans-serif;
  line-height: 1.3;
  font-size: 1.125rem;
  background-color: #F0EDCD;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

@media (max-width: 63.937em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-se {
  justify-content: space-evenly;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ai-c {
  align-items: center;
}
.flex-dir-c {
  flex-direction: column;
}
.flex-dir-r {
  flex-direction: row;
}

.header {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #c5cd9d;
  z-index: 100;
}
.header.open .header__ham-toggle > span:first-child {
  transform: rotate(45deg);
}
.header.open .header__ham-toggle > span:nth-child(2) {
  opacity: 0;
}
.header.open .header__ham-toggle > span:last-child {
  transform: rotate(-45deg);
}
.header .overlay {
  z-index: 100;
  opacity: 0;
  position: fixed;
  top: 5rem;
  right: 0rem;
  bottom: 0rem;
  left: 0rem;
  background-color: #c5cd9d;
  background-image: linear-gradient(#c5cd9d, transparent);
}
.header__logo img {
  width: 6rem;
}
.header nav {
  position: relative;
  padding: 1.0625rem;
  z-index: 100;
}
.header__ham-toggle > span {
  position: relative;
  display: block;
  width: 1.5rem;
  height: 0.2rem;
  background-color: #161515;
  transition: all 300ms ease-in-out;
  transform-origin: 0.2rem;
  z-index: 100;
}
.header__ham-toggle > span:not(:last-child) {
  margin-bottom: 3px;
}
.header__links a {
  font-size: 1.125rem;
  color: #161515;
  font-weight: 600;
}
.header__links a:not(:last-child) {
  margin-right: 3rem;
}
.header__menu {
  z-index: 100;
  position: absolute;
  background-color: #161515;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  width: 100%;
}
.header__menu a {
  color: #c5cd9d;
  padding: 1.5rem;
  font-weight: bolder;
}
.header__spans {
  padding-right: 6rem;
}

.hero {
  position: relative;
}
.hero__heading-text1, .hero__heading-text2 {
  position: relative;
  max-width: -moz-fit-content;
  max-width: fit-content;
  font-size: 2.25rem;
  font-family: "Gabarito", sans-serif;
  font-weight: 900;
  letter-spacing: 0.2rem;
  white-space: nowrap;
  text-align: center;
  color: #698950;
  overflow: hidden;
  width: 100%;
  animation: typing 2.5s, cursor 4s step-end infinite alternate;
}
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
.hero__heading-text1.hero__heading-text1, .hero__heading-text2.hero__heading-text1 {
  top: -12rem;
}
.hero__heading-text1.hero__heading-text2, .hero__heading-text2.hero__heading-text2 {
  top: -15rem;
}
@media (min-width: 64em) {
  .hero__heading-text1, .hero__heading-text2 {
    position: absolute;
    text-align: left;
    top: 10rem;
    left: 2.5rem;
    font-size: 7rem;
    animation: none;
  }
  .hero__heading-text1.hero__heading-text2, .hero__heading-text2.hero__heading-text2 {
    top: 20rem;
  }
}
@media (max-width: 22.5rem) {
  .hero__heading-text1, .hero__heading-text2 {
    font-size: 1.5rem;
  }
  .hero__heading-text1.hero__heading-text1, .hero__heading-text2.hero__heading-text1 {
    top: -8.5rem;
  }
  .hero__heading-text1.hero__heading-text2, .hero__heading-text2.hero__heading-text2 {
    top: -10rem;
  }
}
.hero__rotating-text {
  z-index: -1;
  position: absolute;
  width: 100%;
  border-radius: 50%;
  animation-name: rotate-circle;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@media (max-width: 22.5rem) {
  .hero__rotating-text {
    width: 70%;
  }
}
@keyframes rotate-circle {
  to {
    transform: rotate(1turn);
  }
}
.hero__leaf {
  position: absolute;
  width: 38%;
  top: 35.5%;
  left: 33%;
}
@media (max-width: 22.5rem) {
  .hero__leaf {
    width: 5.5rem;
    top: 38%;
    left: 39%;
  }
}
@media (min-width: 64em) {
  .hero__leaf {
    width: 5rem;
  }
}
.hero__tagline-container {
  position: relative;
  min-width: -moz-fit-content;
  min-width: fit-content;
  bottom: 3rem;
}
.hero__tagline-container .tagline-text {
  position: relative;
  font-family: "Gabarito", sans-serif;
  font-weight: bolder;
  font-size: 1.125rem;
  color: #c5cd9d;
}
@media (max-width: 22.5rem) {
  .hero__tagline-container .tagline-text {
    font-size: 0.875rem;
  }
}
.hero__tagline-container .tagline-doodle1 {
  position: relative;
  margin-right: 0.5rem;
  width: 12%;
}
.hero__tagline-container .tagline-doodle2 {
  position: relative;
  margin-left: 0.5rem;
  width: 12%;
}
@media (max-width: 22.5rem) {
  .hero__tagline-container {
    bottom: -5rem;
  }
}
.hero #mouse-scroll {
  display: block;
}
.hero #mouse-scroll {
  position: absolute;
  left: 50%;
  top: 82%;
  transform: translateX(-50%);
  z-index: 1;
}
.hero #mouse-scroll span {
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  transform: rotate(45deg);
  transform: rotate(45deg);
  border-right: 3px solid #698950;
  border-bottom: 3px solid #698950;
  border-radius: 20%;
  margin-left: 0.35rem;
  margin-top: 0.1rem;
}
.hero #mouse-scroll span:not(first-child) {
  margin-top: 0.3rem;
}
.hero #mouse-scroll .mouse {
  height: 2rem;
  width: 1.3rem;
  border-radius: 1rem;
  transform: none;
  border: 3px solid #698950;
  top: 20rem;
}
.hero #mouse-scroll .down-arrow-1,
.hero #mouse-scroll .down-arrow-2,
.hero #mouse-scroll .down-arrow-3 {
  animation: mouse-scroll 1s infinite;
}
.hero #mouse-croll .down-arrow-1 {
  animation-delay: 0.1s;
  animation-direction: alternate;
}
.hero #mouse-scroll .down-arrow-2 {
  animation-delay: 0.2s;
  animation-direction: alternate;
}
.hero #mouse-scroll .down-arrow-3 {
  -webkit-animation-delay: 0.3s;
  -moz-animation-dekay: 0.3s;
  animation-delay: 0.3s;
  animation-direction: alternate;
}
.hero #mouse-scroll .mouse-in {
  height: 6px;
  width: 3px;
  display: block;
  margin: 5px auto;
  border-radius: 0.1rem;
  background: #698950;
  position: relative;
}
.hero #mouse-scroll .mouse-in {
  -webkit-animation: animated-mouse 1.2s ease infinite;
  moz-animation: mouse-animated 1.2s ease infinite;
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.master-container {
  position: relative;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}
.master-container section {
  height: 100vh;
  scroll-snap-align: start;
}
.master-container section:not(.hero) {
  padding-top: 4.5rem;
}

.diag-container .upload-container {
  position: relative;
  margin-top: 6rem;
  width: 22rem;
  text-align: center;
  border: 0.2rem dashed #161515;
  border-radius: 3rem;
}
.diag-container .upload-container .img-area {
  position: relative;
  padding: 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  background-color: Co;
  border-radius: 2rem;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: 100;
  background-color: #c5cd9d;
}
.diag-container .upload-container .img-area .upload-icon {
  width: 7rem;
}
.diag-container .upload-container .img-area h3 {
  font-size: 1.5rem;
}
.diag-container .upload-container .img-area p {
  display: relative;
  font-size: 1.125rem;
  white-space: nowrap;
}
.diag-container .upload-container .select-img {
  margin-bottom: 1.5rem;
  padding: 1rem;
  border-radius: 2rem;
  background-color: #161515;
  color: #c5cd9d;
}/*# sourceMappingURL=style.css.map */